@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #121212;
  color: #fff;
}

.swiper-pagination-bullet-active {
  @apply !bg-blue-500;
}

.swiper-pagination-bullet {
  @apply bg-slate-500 opacity-100 w-3 h-3;
}

.swiper-button-prev {

}

.swiper-button-next {

}